<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="16.3.52" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Telemetry" version="17.9.102" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating" version="17.5.33428.366" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces" version="17.5.33428.366" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="17.0.32112.339" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="17.0.32112.339" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="16.3.56" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>